
<!-- <p>
    my-image works!
</p> -->
<!-- <img src ="https://www.google.com/imgres?imgurl=https://media0.giphy.com/media/Qw4X3FLxvag87oKuDfi/source.gif&imgrefurl=https://giphy.com/gifs/homer-simpson-corgi-im-out-Qw4X3FLxvag87oKuDfi&docid=fT2_qvl7CvYwGM&tbnid=o80-Ky5K4t1QcM:&vet=1&w=500&h=375&source=sh/x/im#h=375&imgdii=MbmouQkAY87yzM:&vet=1&w=500"> -->
<!DOCTYPE html>
<html>
<head>
<style>
img {
    width: 30%; 
}
</style>
</head>
<body>
        <!-- <img src ="https://media1.giphy.com/media/Qw4X3FLxvag87oKuDfi/source.gif"> -->
        <img src ="https://media2.giphy.com/media/3o7aCYDNm1kXgSUgXm/giphy.gif?cid=790b7611ffb88664fc09fa7fbd0a319fd1dbe15700ff3070&rid=giphy.gif">

<!-- <img src="html5.gif" alt="HTML5 Icon" width="128" height="128"> -->
<!-- <img src="html5.gif" alt="HTML5 Icon" style="width:128px;height:128px;"> -->

</body>
</html>